body {
  background-color: #ffffff;
}

.follower {
  background-color: rgb(150, 150, 150);
  position: fixed;
  border-radius: 50;
  border-color: rgb(150, 150, 150);
  border-width: 50px;
  width : 100px;
  height : 100px;
  bottom : 0;
  right : 0;
}




