body {
  background-color: #ffffff;
}

h1 {
  justify-content: center;
  align-items: center;
}

p {
  justify-content: center;
  align-items: center;
}

header {
  display : flex;
  background-color: #919191;
  width : 80%;
  float : center;
  justify-content: center;
  align-items: center;
  padding : 2px;
  margin-left: auto;
  margin-right : auto;
}

.section {
  display : flex;
  background-color: #666666;
  width : 70%;
  float : center;
  justify-content: center;
  align-items: center;
  padding : 2px;
  margin-left: auto;
  margin-right : auto;
}

#follower {
  background-color: #732c00;
  position: fixed;
  border-radius: 100%;
  border: 4px solid #381500;
  justify-content: center;
  align-items: center;
  width : 100px;
  height : 100px;
  bottom : 0;
  right : 0;
}













