body {
  background-color: #ffffff;
}

.follower {
  background-color: rgb(255, 255, 255);
  position: fixed;
  border-radius: 50;
  border-color: #000000;
  border-width: 50px;
  bottom : 0;
  right : 0;
}


